Repository googleapis/java-datastore, pull requests merged in 2022-12, with the labels that each got.

#923 fix: #355 Explicitly passing --project argument when starting emulator
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/testing/LocalDatastoreHelper.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/testing/ITLocalDatastoreHelperTest.java
Labels: api: datastore, size: s

#940 feat: add x-goog-request-params to header
  datastore-v1-proto-client/src/main/java/com/google/datastore/v1/client/Datastore.java
  datastore-v1-proto-client/src/main/java/com/google/datastore/v1/client/RemoteRpc.java
  datastore-v1-proto-client/src/test/java/com/google/datastore/v1/client/RemoteRpcTest.java
Labels: api: datastore, size: m

#941 chore: sync with main
  .github/.OwlBot.lock.yaml
  .github/sync-repo-settings.yaml
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
  .kokoro/requirements.in
  .kokoro/requirements.txt
  CHANGELOG.md
  README.md
  datastore-v1-proto-client/pom.xml
  google-cloud-datastore-bom/pom.xml
  google-cloud-datastore/pom.xml
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/admin/v1/stub/HttpJsonDatastoreAdminStub.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/testing/LocalDatastoreHelper.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/testing/ITLocalDatastoreHelperTest.java
  grpc-google-cloud-datastore-admin-v1/pom.xml
  pom.xml
  proto-google-cloud-datastore-admin-v1/pom.xml
  proto-google-cloud-datastore-v1/pom.xml
  samples/install-without-bom/pom.xml
  samples/native-image-sample/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
  versions.txt
Labels: api: datastore, size: m

#943 chore: update version numbers
  datastore-v1-proto-client/pom.xml
  google-cloud-datastore-bom/pom.xml
  google-cloud-datastore/pom.xml
  grpc-google-cloud-datastore-admin-v1/pom.xml
  pom.xml
  proto-google-cloud-datastore-admin-v1/pom.xml
  proto-google-cloud-datastore-v1/pom.xml
  versions.txt
Labels: automerge, api: datastore, size: m

#942 chore: small refactor/cleanup in KeyFactory
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/KeyFactory.java
Labels: api: datastore, size: xs
