Repository googleapis/java-datastore, pull requests merged in 2023-11, with the labels that each got.

#1236 chore: Adding V3-experimental to sync-repo-settings
  .github/sync-repo-settings.yaml
Labels: api: datastore, size: s

#1239 chore: Update sync-repo-settings.yaml for v3-experimental branch
  .github/sync-repo-settings.yaml
Labels: automerge, api: datastore, size: xs

#1235 chore: Importing auto-generated code from googleapis-gen
  .github/.OwlBot.yaml
  .gitignore
  .repo-metadata.json
  google-cloud-datastore-bom/pom.xml
  google-cloud-datastore/pom.xml
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/DatastoreClient.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/DatastoreSettings.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/gapic_metadata.json
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/package-info.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/stub/DatastoreStub.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/stub/DatastoreStubSettings.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/stub/GrpcDatastoreCallableFactory.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/stub/GrpcDatastoreStub.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/stub/HttpJsonDatastoreCallableFactory.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/stub/HttpJsonDatastoreStub.java
  google-cloud-datastore/src/main/resources/META-INF/native-image/com.google.cloud.datastore.v1/reflect-config.json
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/v1/DatastoreClientHttpJsonTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/v1/DatastoreClientTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/v1/MockDatastore.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/v1/MockDatastoreImpl.java
  grpc-google-cloud-datastore-v1/pom.xml
  grpc-google-cloud-datastore-v1/src/main/java/com/google/datastore/v1/DatastoreGrpc.java
  pom.xml
  pull-gapic-grpc.sh
  versions.txt
Labels: api: datastore, size: xl

#1240 refactor: Swap usage of HttpDatastoreRpc with GrpcDatastoreRpc
  google-cloud-datastore/pom.xml
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreOptions.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreUtils.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/TraceUtil.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/spi/v1/GrpcDatastoreRpc.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/DatastoreTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/DatastoreUtilsTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/ITDatastoreTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/MultipleAttemptsRule.java
Labels: automerge, api: datastore, size: l

#1245 refactor: rename internal class QueryAndReadOptions to QueryConfig
  google-cloud-datastore/clirr-ignored-differences.xml
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/ReadOption.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/execution/AggregationQueryExecutor.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/execution/request/AggregationQueryRequestProtoPreparer.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/execution/request/AggregationQueryRequestProtoPreparerTest.java
Labels: api: datastore, size: m
