Repository googleapis/java-datastore, pull requests merged in 2023-08, with the labels that each got.

#1171 ci: javadoc as a required check
  .github/sync-repo-settings.yaml
Labels: automerge, api: datastore, size: xs

#1067 feat: Sum and Avg aggregation feature
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/AggregationQuery.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/AggregationResult.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/aggregation/Aggregation.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/aggregation/AvgAggregation.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/aggregation/CountAggregation.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/aggregation/SumAggregation.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/execution/response/AggregationQueryResponseTransformer.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/AggregationQueryTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/AggregationResultTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/DatastoreTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/ProtoTestData.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/aggregation/AvgAggregationTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/aggregation/SumAggregationTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/execution/response/AggregationQueryResponseTransformerTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/ITDatastoreAggregationsTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/ITDatastoreTest.java
Labels: api: datastore, size: xl

#1101 samples: Add samples for sum and avg aggregations
  README.md
  samples/snapshot/pom.xml
  samples/snippets/src/main/java/com/example/datastore/aggregation/AvgAggregationOnKind.java
  samples/snippets/src/main/java/com/example/datastore/aggregation/AvgAggregationWithLimit.java
  samples/snippets/src/main/java/com/example/datastore/aggregation/AvgAggregationWithOrderBy.java
  samples/snippets/src/main/java/com/example/datastore/aggregation/AvgAggregationWithPropertyFilter.java
  samples/snippets/src/main/java/com/example/datastore/aggregation/MultipleAggregationsInGqlQuery.java
  samples/snippets/src/main/java/com/example/datastore/aggregation/MultipleAggregationsInStructuredQuery.java
  samples/snippets/src/main/java/com/example/datastore/aggregation/SumAggregationOnKind.java
  samples/snippets/src/main/java/com/example/datastore/aggregation/SumAggregationWithLimit.java
  samples/snippets/src/main/java/com/example/datastore/aggregation/SumAggregationWithOrderBy.java
  samples/snippets/src/main/java/com/example/datastore/aggregation/SumAggregationWithPropertyFilter.java
  samples/snippets/src/test/java/com/example/datastore/AggregationQuerySampleTestIT.java
  samples/snippets/src/test/resources/index.yaml
Labels: api: datastore, samples, size: l

#1179 samples(fix): correcting aggregation value in comment in Avg aggregation sample
  samples/snippets/src/main/java/com/example/datastore/aggregation/AvgAggregationWithPropertyFilter.java
Labels: api: datastore, samples, size: xs
