Repository googleapis/java-datastore, pull requests merged in 2024-01, with the labels that each got.

#1271 test(deps): upgrade errorprone to 2.24.0
  google-cloud-datastore/pom.xml
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/BlobTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/LatLngTest.java
  pom.xml
Labels: api: datastore, size: s

#1272 feat: remove `@BetaApi` annotations from get/setDatabaseId methods
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/BaseKey.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreOptions.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/IncompleteKey.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/Key.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/KeyFactory.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/testing/RemoteDatastoreHelper.java
Labels: api: datastore, size: s

#1277 feat: remove `@BetaApi` annotations from get/setDatabaseId methods
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/BaseKey.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreOptions.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/IncompleteKey.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/Key.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/KeyFactory.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/testing/RemoteDatastoreHelper.java
Labels: automerge, api: datastore, size: s

#1275 feat!: mark interfaces as `@InternalExtensionOnly`
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/Batch.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/Datastore.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreBatchWriter.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreFactory.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreReader.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreReaderWriter.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreWriter.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/QueryResults.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/StructuredQuery.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/Transaction.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/ValueBuilder.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/aggregation/AggregationBuilder.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/spi/DatastoreRpcFactory.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/spi/v1/DatastoreRpc.java
Labels: api: datastore, size: s

#1283 refactor: rename internal class QueryAndReadOptions to QueryConfig
  google-cloud-datastore/clirr-ignored-differences.xml
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/ReadOption.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/execution/AggregationQueryExecutor.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/execution/request/AggregationQueryRequestProtoPreparer.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/execution/request/AggregationQueryRequestProtoPreparerTest.java
Labels: api: datastore, size: m

#1281 deps: remove dependency on datastore-v1-proto-client module in google-cloud-datastore
  google-cloud-datastore/pom.xml
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreOptions.java
Labels: api: datastore, size: s

#1276 feat: use existing transport options API to set transport
  README.md
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreOptions.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/spi/v1/DatastoreRpc.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/testing/RemoteDatastoreHelper.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/DatastoreOptionsTest.java
Labels: api: datastore, size: m

#1288 test: update datastore emulator version to fix flakiness
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/testing/LocalDatastoreHelper.java
Labels: api: datastore, size: xs

#1300 chore: remove obsolete release job configs
  .kokoro/release/bump_snapshot.cfg
  .kokoro/release/bump_snapshot.sh
  .kokoro/release/common.cfg
  .kokoro/release/common.sh
  .kokoro/release/drop.cfg
  .kokoro/release/drop.sh
  .kokoro/release/promote.cfg
  .kokoro/release/promote.sh
  .kokoro/release/publish_javadoc.cfg
  .kokoro/release/publish_javadoc.sh
  .kokoro/release/publish_javadoc11.cfg
  .kokoro/release/publish_javadoc11.sh
  .kokoro/release/snapshot.cfg
  .kokoro/release/snapshot.sh
  .kokoro/release/stage.cfg
  .kokoro/release/stage.sh
  .kokoro/requirements.in
  .kokoro/requirements.txt
  owlbot.py
Labels: api: datastore, size: xl

#1307 chore: use sdk-platform-java-config to consolidate build configs
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
  google-cloud-datastore-bom/pom.xml
  pom.xml
Labels: api: datastore, size: s
