Repository googleapis/java-datastore, pull requests merged in 2024-03, with the labels that each got.

#1348 chore: next release from main branch is 2.18.0
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: datastore, size: s

#1380 chore: update dependabot.yml
  .github/dependabot.yml
Labels: api: datastore, size: xs

#1382 chore: update concepts test
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/ITDatastoreConceptsTest.java
Labels: automerge, api: datastore, size: xs

#1385 samples: query profile
  README.md
  samples/snippets/src/main/java/com/example/datastore/queryprofile/QueryProfileExplain.java
  samples/snippets/src/main/java/com/example/datastore/queryprofile/QueryProfileExplainAggregation.java
  samples/snippets/src/main/java/com/example/datastore/queryprofile/QueryProfileExplainAnalyze.java
  samples/snippets/src/main/java/com/example/datastore/queryprofile/QueryProfileExplainAnalyzeAggregation.java
  samples/snippets/src/test/java/com/example/datastore/aggregation/AggregationQuerySampleTestIT.java
  samples/snippets/src/test/java/com/example/datastore/filters/OrFilterQuerySampleIT.java
  samples/snippets/src/test/java/com/example/datastore/queryprofile/QueryProfileSampleIT.java
Labels: automerge, api: datastore, samples, size: l
