Repository googleapis/java-datastore, pull requests merged in 2024-11, with the labels that each got.

#1660 Refactor: merge changes from main branch
  .github/sync-repo-settings.yaml
  .github/workflows/hermetic_library_generation.yaml
  .github/workflows/unmanaged_dependency_check.yaml
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
  .readme-partials.yaml
  CHANGELOG.md
  README.md
  generation_config.yaml
  google-cloud-datastore-bom/pom.xml
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/Batch.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/Datastore.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreImpl.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/DatastoreClient.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/DatastoreSettings.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/package-info.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/stub/DatastoreStub.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/stub/DatastoreStubSettings.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/stub/GrpcDatastoreCallableFactory.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/stub/GrpcDatastoreStub.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/stub/HttpJsonDatastoreCallableFactory.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/v1/stub/HttpJsonDatastoreStub.java
  google-cloud-datastore/src/main/resources/META-INF/native-image/com.google.cloud.datastore.admin.v1/reflect-config.json
  google-cloud-datastore/src/main/resources/META-INF/native-image/com.google.cloud.datastore.v1/reflect-config.json
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/v1/DatastoreClientHttpJsonTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/v1/DatastoreClientTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/v1/MockDatastore.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/v1/MockDatastoreImpl.java
  grpc-google-cloud-datastore-v1/src/main/java/com/google/datastore/v1/DatastoreGrpc.java
  pom.xml
  proto-google-cloud-datastore-v1/src/main/java/com/google/datastore/v1/FindNearest.java
  proto-google-cloud-datastore-v1/src/main/java/com/google/datastore/v1/FindNearestOrBuilder.java
  proto-google-cloud-datastore-v1/src/main/java/com/google/datastore/v1/Query.java
  proto-google-cloud-datastore-v1/src/main/java/com/google/datastore/v1/QueryOrBuilder.java
  proto-google-cloud-datastore-v1/src/main/java/com/google/datastore/v1/QueryProto.java
  proto-google-cloud-datastore-v1/src/main/proto/google/datastore/v1/query.proto
  samples/install-without-bom/pom.xml
  samples/pom.xml
  samples/snippets/pom.xml
  samples/snippets/src/main/java/com/example/datastore/filters/IndexingConsiderationQuery.java
  samples/snippets/src/main/java/com/example/datastore/filters/OrderFieldsQuery.java
  samples/snippets/src/test/java/com/example/datastore/filters/MultiIneqQuerySampleIT.java
  samples/snippets/src/test/java/com/google/datastore/snippets/ConceptsTest.java
Labels: api: datastore, size: l

#1671 feat: introduce `java.time` methods and variables
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/models/ExecutionStats.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/testing/LocalDatastoreHelper.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/DatastoreTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/ITDatastoreTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/models/ExecutionStatsTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/testing/ITLocalDatastoreHelperTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/testing/RemoteDatastoreHelper.java
  samples/snippets/src/test/java/com/google/datastore/snippets/ConceptsTest.java
Labels: automerge, api: datastore, size: m

#1675 chore: mark the unmanaged dependency check required
  .github/sync-repo-settings.yaml
Labels: api: datastore, size: xs
