Repository googleapis/java-datastore, pull requests merged in 2024-04, with the labels that each got.

#1397 chore: include recommended_package in repo-metadata.json
  .repo-metadata.json
Labels: api: datastore, size: xs

#1402 samples(test): ignore string case when comparing outputs
  samples/snippets/src/test/java/com/example/datastore/queryprofile/QueryProfileSampleIT.java
  samples/snippets/src/test/java/com/rule/SystemsOutRule.java
Labels: api: datastore, samples, size: s

#1400 feat: allow opt-in for gRPC, have datastore-v1-proto-client as default
  README.md
  google-cloud-datastore/pom.xml
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreOptions.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/spi/v1/HttpDatastoreRpc.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/testing/RemoteDatastoreHelper.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/DatastoreOptionsTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/DatastoreTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/AbstractITDatastoreTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/ITDatastoreConceptsTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/ITDatastoreTestGrpc.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/ITDatastoreTestHttp.java
Labels: api: datastore, size: l

#1409 feat: have DatastoreException extend BaseHttpServiceException, convert gRPC status codes to existing Datastore codes
  README.md
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreException.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/GrpcToDatastoreCodeTranslation.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/DatastoreExceptionTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/GrpcToDatastoreCodeTranslationTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/AbstractITDatastoreTest.java
Labels: api: datastore, size: l

#1413 test(refactor): move aggregation tests into ITDatastoreTest
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/ITDatastoreAggregationsTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/ITDatastoreTest.java
Labels: api: datastore, size: l
