Repository googleapis/java-datastore, pull requests merged in 2024-05, with the labels that each got.

#1417 chore: update sync-repo-settings.yaml
  .github/sync-repo-settings.yaml
Labels: automerge, api: datastore, size: s

#1425 chore: update version numbers
  datastore-v1-proto-client/pom.xml
  google-cloud-datastore-bom/pom.xml
  google-cloud-datastore/pom.xml
  grpc-google-cloud-datastore-admin-v1/pom.xml
  grpc-google-cloud-datastore-v1/pom.xml
  pom.xml
  proto-google-cloud-datastore-admin-v1/pom.xml
  proto-google-cloud-datastore-v1/pom.xml
  samples/snapshot/pom.xml
  versions.txt
Labels: api: datastore, size: m

#1423 fix: make removeScheme case insensitive
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreUtils.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/DatastoreUtilsTest.java
Labels: api: datastore, size: xs

#1431 feat: Adding TraceUtil interface and its implementation to enable Tracing controls via DatastoreOptions
  google-cloud-datastore/pom.xml
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreOpenTelemetryOptions.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreOptions.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/telemetry/DisabledTraceUtil.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/telemetry/EnabledTraceUtil.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/telemetry/TraceUtil.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/DatastoreOptionsTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/telemetry/DisabledTraceUtilTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/telemetry/EnabledTraceUtilTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/telemetry/TraceUtilTest.java
Labels: automerge, api: datastore, size: l

#1437 feat: Adding Lookup RPC OpenTelemetry Tracing
  google-cloud-datastore/pom.xml
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreImpl.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/telemetry/DisabledTraceUtil.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/telemetry/EnabledTraceUtil.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/telemetry/TraceUtil.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/testing/RemoteDatastoreHelper.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/ITE2ETracingTest.java
Labels: api: datastore, size: l

#1440 feat: Commit RPC Trace Instrumentation
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreImpl.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/telemetry/TraceUtil.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/ITE2ETracingTest.java
Labels: api: datastore, size: m

#1447 feat: RunAggregationQuery instrumentation
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/RetryAndTraceDatastoreRpcDecorator.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/telemetry/TraceUtil.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/RetryAndTraceDatastoreRpcDecoratorTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/ITE2ETracingTest.java
Labels: api: datastore, size: m

#1457 fix: set the correct database id on the key parent when calling Key#getParent
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/IncompleteKey.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/IncompleteKeyTest.java
Labels: api: datastore, size: s

#1465 chore: sync with main, update version numbers
  .github/.OwlBot.lock.yaml
  .github/sync-repo-settings.yaml
  .github/workflows/approve-readme.yaml
  .github/workflows/ci.yaml
  .github/workflows/renovate_config_check.yaml
  .github/workflows/samples.yaml
  .github/workflows/unmanaged_dependency_check.yaml
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
  CHANGELOG.md
  README.md
  datastore-v1-proto-client/pom.xml
  google-cloud-datastore-bom/pom.xml
  google-cloud-datastore/pom.xml
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/IncompleteKey.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/Key.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/admin/v1/stub/DatastoreAdminStubSettings.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/IncompleteKeyTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/AbstractITDatastoreTest.java
  grpc-google-cloud-datastore-admin-v1/pom.xml
  grpc-google-cloud-datastore-v1/pom.xml
  pom.xml
  proto-google-cloud-datastore-admin-v1/pom.xml
  proto-google-cloud-datastore-admin-v1/src/main/proto/google/datastore/admin/v1/datastore_admin.proto
  proto-google-cloud-datastore-admin-v1/src/main/proto/google/datastore/admin/v1/index.proto
  proto-google-cloud-datastore-admin-v1/src/main/proto/google/datastore/admin/v1/migration.proto
  proto-google-cloud-datastore-v1/pom.xml
  proto-google-cloud-datastore-v1/src/main/java/com/google/datastore/v1/DatastoreProto.java
  proto-google-cloud-datastore-v1/src/main/java/com/google/datastore/v1/LookupRequest.java
  proto-google-cloud-datastore-v1/src/main/java/com/google/datastore/v1/LookupRequestOrBuilder.java
  proto-google-cloud-datastore-v1/src/main/java/com/google/datastore/v1/Mutation.java
  proto-google-cloud-datastore-v1/src/main/java/com/google/datastore/v1/MutationOrBuilder.java
  proto-google-cloud-datastore-v1/src/main/java/com/google/datastore/v1/PropertyMask.java
  proto-google-cloud-datastore-v1/src/main/java/com/google/datastore/v1/PropertyMaskOrBuilder.java
  proto-google-cloud-datastore-v1/src/main/java/com/google/datastore/v1/RunQueryRequest.java
  proto-google-cloud-datastore-v1/src/main/java/com/google/datastore/v1/RunQueryRequestOrBuilder.java
  proto-google-cloud-datastore-v1/src/main/proto/google/datastore/v1/aggregation_result.proto
  proto-google-cloud-datastore-v1/src/main/proto/google/datastore/v1/datastore.proto
  proto-google-cloud-datastore-v1/src/main/proto/google/datastore/v1/entity.proto
  proto-google-cloud-datastore-v1/src/main/proto/google/datastore/v1/query.proto
  proto-google-cloud-datastore-v1/src/main/proto/google/datastore/v1/query_profile.proto
  samples/install-without-bom/pom.xml
  samples/native-image-sample/pom.xml
  samples/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
  versions.txt
Labels: api: datastore, size: l

#1467 feat: add some docs, use only setCredentials in DatastoreOptions
  README.md
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreOptions.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/spi/v1/GrpcDatastoreRpc.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/DatastoreOptionsTest.java
Labels: api: datastore, size: m
