Repository googleapis/java-datastore, pull requests merged in 2024-09, with the labels that each got.

#1556 Fix: typo in test
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/ITE2ETracingTest.java
Labels: api: datastore, size: xs

#1559 chore: remove unused image tag in .OwlBot-hermetic.yaml
  .github/.OwlBot-hermetic.yaml
Labels: api: datastore, size: xs

#1575 chore: Add Clirr exemptions for Protobuf 4.27.4+ runtime
  proto-google-cloud-datastore-admin-v1/clirr-ignored-differences.xml
  proto-google-cloud-datastore-v1/clirr-ignored-differences.xml
Labels: api: datastore, size: m

#1580 fix: Create Span hierarchy using parent Span
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreImpl.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/telemetry/DisabledTraceUtil.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/telemetry/EnabledTraceUtil.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/telemetry/TraceUtil.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/DatastoreTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/telemetry/DisabledTraceUtilTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/telemetry/EnabledTraceUtilTest.java
Labels: api: datastore, size: m

#1576 feat: Introducing Tracing with OpenTelemetry API #1537
  README.md
  google-cloud-datastore/clirr-ignored-differences.xml
  google-cloud-datastore/pom.xml
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreImpl.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreOpenTelemetryOptions.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreOptions.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/RetryAndTraceDatastoreRpcDecorator.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/TraceUtil.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/TransactionImpl.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/spi/v1/HttpDatastoreRpc.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/telemetry/DisabledTraceUtil.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/telemetry/EnabledTraceUtil.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/telemetry/TraceUtil.java
  google-cloud-datastore/src/main/java/com/google/cloud/datastore/testing/RemoteDatastoreHelper.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/DatastoreOptionsTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/DatastoreTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/RetryAndTraceDatastoreRpcDecoratorTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/ITE2ETracingTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/it/ITTracingTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/telemetry/DisabledTraceUtilTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/telemetry/EnabledTraceUtilTest.java
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/telemetry/TraceUtilTest.java
Labels: api: datastore, size: xl

#1595 fix: Update opentelemetry-sdk dependency to be test-only
  google-cloud-datastore/clirr-ignored-differences.xml
  google-cloud-datastore/pom.xml
  google-cloud-datastore/src/test/java/com/google/cloud/datastore/testing/RemoteDatastoreHelper.java
Labels: api: datastore, size: xs

#1598 fix: Update opentelemetry.version to 1.42.1 to match the BOM version
  google-cloud-datastore/pom.xml
Labels: automerge, api: datastore, size: xs

#1579 feat: add sample code for multiple inequalities indexing consideration query
  samples/snippets/src/main/java/com/example/datastore/filters/IndexingConsiderationQuery.java
  samples/snippets/src/main/java/com/example/datastore/filters/OrderFieldsQuery.java
  samples/snippets/src/test/java/com/example/datastore/filters/MultiIneqQuerySampleIT.java
  samples/snippets/src/test/resources/index.yaml
Labels: api: datastore, samples, size: m
